.popup {
  border-radius: 9px;
  background-color: white;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: calc(50% - 210px / 2);
  height: 210px;
}

.popup h3.header {
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f3c6d2;
  height: calc(100% / 3);
  margin: 0px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup h3.header > p {
  border-radius: inherit;
  width: 95%;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 1.5;
  font-weight: normal;
}


.popup h3.header .close-icon {
  position: relative;
  top: -15px;
  right: 10px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.popup-body {
  height: calc(2 * 100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.star-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}